ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
    }
  }
  
  ion-content {
    --background: #f5f5f3;
  
    #header {
    //   display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
      }
  
      img {
        width: 100%;
        height: 100%;
     //   border-radius: 50%;
        border: 8px solid #ffffff;
      }
    }
    
     #form {
      margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;
  
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
  }
  .item-native {
    border-radius: var(--border-radius);
    margin: 0px;
    padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    padding-right: var(--padding-end);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-indent: inherit;
    text-overflow: inherit;
    text-transform: inherit;
    text-align: inherit;
    white-space: inherit;
    color: inherit;
    display: flex;
    position: relative;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
    min-height: var(--min-height);
    transition: var(--transition);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    outline: none;
    overflow: inherit;
    box-sizing: border-box;
    z-index: 1;
    background-color: rgb(245, 245, 243) !important;
}